.container-fluid {
  margin-bottom: 0 !important;
}
.btn-block {
  margin-left: 25px!important
}
.loginpanel
  {
    margin-top: 2% !important;  
  }
  .row.content { 
    height:679px!important;
  } 
 