<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button  type = "submit" (click)="onLogout()">logout</button>
<button  type = "submit" (click)="onBack()">Back</button>

<div *ngIf="Userlist.enityList.length > 0" > 
<h1>User List</h1>
<br>
<table id="customers"> 
      <thead>
         <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL ID</th>
            <th>MOBILE</th>
            <th>CREATED DATE</th>
            <th>MODIFIED DATE</th>
            <th>EDIT</th>
            <th>DELETE</th>
            
         </tr>
      </thead>
      <tbody>
            <!-- (click)="onDelete(emp.Id)" -->
    <tr *ngFor="let emp of Userlist.enityList">
       <td class="example">{{emp.firstName}}</td>
       <td class="example">{{emp.lastName}}</td>
       <td class="example">{{emp.email}}</td>
       <td class="example">{{emp.mobile}}</td>
       <td class="example">{{emp.createdDate}}</td>
       <td class="example">{{emp.modifiedDate}}</td>
       <td><button class="fa fa-pencil"   tooltip="Edit" placement="top" (click)="onUpdate(emp.email)" show-delay="500"></button></td>
       <td><button class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete?');" tooltip="Delete" placement="top" (click)="onDelete(emp.email)" show-delay="500"></button></td>
      </tr>
  </tbody>
  </table>
   <div class = "error" *ngIf="Msg == true">Deleted Successfull</div>
   <div class = "error" *ngIf="UpdateMsg == true">Updated Successfull</div>
</div>cd.