.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    
  }
  .row {
    flex-direction: row;
  }
  .error {
    font-style: italic;
    color: red
  }

  /* button {
    margin-top: 10px;
    width: 100%
  } */
  #welcome[_ngcontent-qoh-c0]{
    display:none !important;
  }
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
input[type=text], input[type=password] ,input[type=submit] ,input[type=Confirmpassword] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: rgb(53, 135, 212);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    
  }
  button:hover {
    opacity: 0.8;
  }
  .error {
    font-style: italic;
    color: red
  }