.container-fluid {
    margin-bottom: 0 !important;
  }
  .btn-block {
    margin-left: 25px!important
  }
  .row.content { 
    height:679px!important;
  } 
  .loginpanel
  {
  margin-left: 30% !important;
  }
  .col-sm-4 {
    margin-left: 10% !important;
}